<sidebar></sidebar>
<main>
    <header>
        <h2>Hi!</h2>
        <p>I'm the guy behind the nickname</p>
    </header>
    <section>
        <div class="container">
            <p>I was born in Italy in 1983 and I grew up as a problem-solving addicted, in 2004 I officially become a Developer.</p>
            <p>I love to cook and to write code, I don't usually prepare the same dish two times in a week as I don't usually use the same technologies for more than one or two projects.</p>
        </div>
    </section>
    <section>
        <div class="container">
            <h3>Things I Can Do</h3>
            <p>Not properly a Skill list more like a list of Superpowers</p>
            <ul class="feature-icons">
                <li><i class="fa fa-bed fa-3x" aria-hidden="true"></i>Sleep less than recommended</li>
                <li><i class="fa fa-coffee fa-3x" aria-hidden="true"></i>Drink more than recommended</li>
                <li><i class="fa fa-cutlery fa-3x" aria-hidden="true"></i>Cook for dozens</li>
                <li><i class="fa fa-book fa-3x" aria-hidden="true"></i>Read a lot of books</li>
                <li><i class="fa fa-wrench fa-3x" aria-hidden="true"></i>Solve problems</li>
                <li><i class="fa fa-terminal fa-3x" aria-hidden="true"></i>Work without an User Interface</li>
            </ul>
        </div>
    </section>
    <section>
        <div class="container">
            <h3>A Few Accomplishments</h3>
            <p>Here you can find an alphabetically ordered list of something that saw or sees me involved in and my opinions, even if you don't care about them.</p>
            <projects></projects>
        </div>
    </section>
    <section>
        <div class="container">
            <h3>Some notes</h3>
            <p>Here you can find an alphabetically ordered list of something that saw or sees me involved in and my opinions, even if you don't care about them.</p>
            <div class="features">
                <div class="articles">
                    <article>
                        <header>
                            <h1>MedicalADI</h1>
                            <p>Integrated home care web based management software.</p>
                        </header>
                        <footer>
                            bla bla bla
                        </footer>
                    </article>
                    <article>
                        <header>
                            <h1>Simkit</h1>
                            <p>Web Application for Electricity retailing</p>
                        </header>
                    </article>
                    <article>
                        <header>
                            <h1>ASI</h1>
                            <p>Web-based application for membership management. Developed for ASI (Associazioni Sportive e Sociali Italiane).</p>
                        </header>
                    </article>
                    <article>
                        <header>
                            <h1>IPM Integrity</h1>
                            <p>Prototype description here</p>
                        </header>
                    </article>
                </div>
            </div>
        </div>
    </section>
</main>
<myfooter></myfooter>