<div class="project-list">
    <div class="projects">
        <article>
            <header>
                <h1>MedicalADI</h1>
            </header>
            <section>
                <p>Integrated home care web based management software.</p>
                <p>Talk about a lot of things showing to the world how much cool this project is</p>
            </section>
            <footer>
                Few list of keywords that should be "filtrable"
            </footer>
        </article>
<!--         <article>
            <header>
                <h1>Simkit</h1>
                <p>Web Application for Electricity retailing</p>
            </header>
        </article>
        <article>
            <header>
                <h1>ASI</h1>
                <p>Web-based application for membership management. Developed for ASI (Associazioni Sportive e Sociali Italiane).</p>
            </header>
        </article>
        <article>
            <header>
                <h1>IPM Integrity</h1>
                <p>Prototype description here</p>
            </header>
        </article> -->
    </div>
</div>