<aside>
    <div id="imageblock">
        <section id="header">
            <span class="image avatar">
                <div class="coinflip"><img src="http://www.gravatar.com/avatar/70121ca8f7cca0e2da69186cc3ec3cd6.png?s=200" alt="" /></div></span>
            <big>Marco Orlandin</big><br/>
            <em>MiPnamic Von Wirklichkeit</em>
            <p>Developer and Enthusiast made in Italy</p>
        </section>
        <section>
            <hr/>
        </section>
        <section id="socials">
            <ul>
                <li><a href="http://instagram.com/MiPnamic" rel="me" target="_blank" class="fa fa-instagram fa-2x" alt="Instagram"></a></li>
                <li><a href="https://github.com/MiPnamic" rel="me" target="_blank" class="fa fa-github fa-2x" alt="Github"></a></li>
                <li><a href="http://codepen.io/MiPnamic/" rel="me" target="_blank" class="fa fa-codepen fa-2x" alt="Codepen"></a></li>
                <li><a href="http://it.linkedin.com/in/mipnamic/" rel="me" target="_blank" class="fa fa-linkedin fa-2x" alt="LinkedIn"></a></li>
                <li><a href="https://twitter.com/MiPnamic" rel="me" target="_blank" class="fa fa-twitter fa-2x" alt="Twitter"></a></li>
                <li><a href="https://www.facebook.com/MiPnamic" rel="me" target="_blank" class="fa fa-facebook fa-2x" alt="Facebook"></a></li>
            </ul>
        </section>
        <section id="gitlog">
            <details>
                <summary>Last update on:<br/>
                    <em>Tue Mar 29 09:04:00 CEST 2016</em></summary>
                <ul>
                    <li><strong>bc533be</strong><br/>new post</li>
                    <li><strong>e09acc8</strong><br/>upgrade materialize and added stuff0</li>
                </ul>
            </details>
        </section>
    </div>
</aside>